body{
	background-color: #E2D8BD;
}

strong{
	color:black;
	text-decoration: underline;
}

p{
	font-family: 'Seaweed Script', cursive;
	font-size: 40px;
	text-align: center;
	color: #474747;
}

h1{
	text-align: center;
	color: #474747;
	font-size: 75px;
	font-family: 'Seaweed Script', cursive;
	letter-spacing: 5px;
}

